* {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 10px 50px 15px #d1d7df;
}

.top {
    display: flex;
    align-items: center;
}

#magnify {
    height: 30px;
    margin: 0 10px 0 10px;
}

.search {
    height: 40px;
    width: 75%;
    background-color: rgba(211, 211, 211, 0.534);
    border: none;
    border-radius: 20px;
}

#bell {
    height: 30px;
    margin: 0 10px 0 10px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: end;
}

button {
    margin: 10px;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: #1992d4;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: rgb(11, 142, 202);
    color: white;
    font-weight: bold;
}

.menu-container {
    margin: 20px 0 20px 40px;
}

#jellyfish {
    height: 40px;
}

h1 {
    font-size: 36px;
}

a {
    margin: 10px 0 10px 0;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.personal {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.standard {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "your-projects announcements"
        "your-projects trending";
    background-color: #e2e8f0;
    padding: 20px;
    margin: 5px 0 0 0;
}

.your-projects {
    grid-area: your-projects;
    margin: 20px;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.announcements {
    grid-area: announcements;
    padding: 20px;
}

.news-container {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.trending {
    grid-area: trending;
    padding: 20px;
}

.trending-container {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}